body 
{
    background-image: url('images/backgroundGIF.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
ul.menu
{
    list-style-type: none;
    text-align: right;
    line-height: 100%;
    font-size: 125%;
    width: 100%;
    padding: 0;
    margin: 0;
    right: 0;
}
li a.menu
{
    text-decoration: none;
    padding: 8px 16px;
    color: black;
    display: block;
    float: right;
    font-size: 125%;
}
li a.menu:hover
{
    background-color: #555;
    color: white;
}
div
{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.arrows
{
    padding-right: 0;
    padding-left: 0;
}
.arrows button
{
    font-size: 200%;
    padding-left: 12px;
    padding-right: 12px;
    
}

h1{font-size: 300%;}
h2{font-size: 200%;}
h3{font-size: 150%;}
p {font-size: 150%;}

@media only screen and (max-width: 760px)
{
    li a.menu
    {
        font-size: 200%;
        line-height: 25px;
    }
    .arrows button{font-size: 500%;}
}